/* CSS Document */

.ContextMenu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	background-color: #FFFFFF;
	width: 250px;		
	position:absolute;
	left: 105px;
	top: 77px;
	z-index: 600;
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=3, OffY=3, Color=#CCCCCC, Positive='true');	
	/*display:none;*/
}
.ContextMenu .MenuGroup {
	position:relative;
}
.ContextMenu .MenuGroup a.MenuItem {
	display:block;
	cursor: pointer;
	padding:2px;
	vertical-align:middle;
	color:#003366;
	text-decoration:none;
	height:58px;
	position:relative;
	border:1px solid #0099CC;
	border-bottom:none;
	
}
.ContextMenu .MenuGroup a.MenuItem p{
	margin:0px;
}
.ContextMenu .MenuGroup a.MenuItem h4{
	margin:0px;
	margin-bottom:2px;
	font-size:11px;	
}
.ContextMenu .MenuGroup a.MenuItem img.MenuItemIco{				
	border:none;
	top:12px;right:223px;position:absolute; 
}
.ContextMenu .MenuGroup a.MenuItem:hover {	
	background:url(MenuItemOverBrg.jpg) repeat-x;	
}
.ContextMenu .MenuGroup .MenuItem span {
	float:left; padding:2px;
}
.MenuHeader {
background-color:#D0E6EA;height:20px;border:1px solid #0066CC;border-bottom:none;
}
.MenuHeader p.MenuTitle {
font-weight:bold;margin:0px; margin-left:5px;margin-top:2px;color:#006699;
}
.MenuItemTextHolder {
padding:2px;margin-left:40px;margin-right:5px;
}