/*
  xTabPanelGroup Demo
  default css
*/

.tabPanelGroup {
  margin:10px; padding:0;
  border:1px solid #417EC2;
}
.tabPanel {
  margin:0; padding:10px;
  color:#000; background:#417EC2;
  
}
.tabGroup {
  margin:0; padding:0;
}
.tabDefault {
  margin:0; padding:2px;
  background:#FFF;
}
.tabSelected {
  margin:0; padding:2px;
  color:#000; background:#98BAFB;
}

