<?xml version="1.0"?>
<!-- 
	a big change here
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<configSections>
		<sectionGroup name="ajaxNet">
			<!--
				If you are using Microsoft .NET 1.1 please remove the two attributes
				requirePermission and restartOnExternalChanges, they are only supported
				with .NET 2.2.
			-->
			<section name="ajaxSettings" type="AjaxPro.AjaxSettingsSectionHandler,AjaxPro.2" requirePermission="false" restartOnExternalChanges="true"/>
		</sectionGroup>
		<!-- Add Magic Ajax Section -->
		<section name="magicAjax" type="MagicAjax.Configuration.MagicAjaxSectionHandler, MagicAjax"/>
	</configSections>
	<ajaxNet>
		<ajaxSettings>
			<urlNamespaceMappings useAssemblyQualifiedName="false" allowListOnly="false">
				<!--
					Set the attribute useAssemblyQualifiedName to true to enable
					use of assemblies placed in the GAC by using the full assembly
					qualified name.
				
					To hide internal knowledge of assemblies, classes and namespace
					you can override the name of the virtual http endpoints.
					
					<add type="Namespace.Class1,Assembly" path="mypath" />
				-->
			</urlNamespaceMappings>
			<jsonConverters includeTypeProperty="true">
				<!--
					This section can be used to add new IJavaScriptConverters to the
					Ajax.NET Professional engine. If you want to disable built-in
					converters you can use the remove tag.
			
					<remove type="Namespace.Class1,Assembly"/>
					<add type="Namespace.Class2,Assembly"/>
					
					<add type="AjaxPro.BitmapConverter,AjaxPro.2" mimeType="image/jpeg" quality="100"/>
				-->
			</jsonConverters>
			<!--
				Set the enabled attribute to true to get Stack, TargetSize and Source 
				information if an exception has been thrown.
			-->
			<debug enabled="false"/>
			<!--
				This is the default configuration used with Ajax.NET Professional. You
				can put there your static JavaScript files, or remove the path attribute
				to completly disable the files.
			
				<scriptReplacements>
					<file name="prototype" path="~/ajaxpro/prototype.ashx" />
					<file name="core" path="~/  ajaxpro/core.ashx" />
					<file name="converter" path="~/ajaxpro/converter.ashx" />
				</scriptReplacements>
			-->
			<!-- <encryption cryptType="" keyType="" /> -->
			<!--
				Set the enabled attribute to true to enable the use of an Ajax.NET Professional
				token. This will send a token to the client that will be used to identify if the
				requests comes from the same PC.
			-->
			<token enabled="false" sitePassword="password"/>
			<!--
				The oldStyle section can be used to enable old styled JavaScript code or
				functions that are not used any more.
			
				<configuration>
					<objectExtendPrototype/>
					<appCodeQualifiedFullName/>
					<allowNumberBooleanAsString/>
					<sessionStateDefaultNone/>
					<includeMsPrototype/>
					<renderDateTimeAsString/>
					<noUtcTime/>
					<renderJsonCompliant/>
					<useSimpleObjectNaming/>
				</configuration>
			-->
		</ajaxSettings>
	</ajaxNet>
	<appSettings>
		<add key="correoAdministrador" value="royriojas@gmail.com"/>
		<add key="UseSSLForEmail" value="false"/>
		<!--DebugMode sirve para activar el dump de los querys que ejecutan los sqlDataSources -->
		<add key="debugMode" value="off"/>
		<add key="GoNote.Service" value="http://www.preventores.com.pe/GoNote/Service.asmx"/>
		<add key="PDF_CONVERTER_KEY" value="kK4GuP4AIQ2s0UxHvFb7gaJqdO893YsUkGDja8fjP5XwcyI+F0L3vYJyMKd2iSaY"/>
		
		<!--Configurar esta key dependiendo de la url que asigne el servidor web del VS-->
		<add key="ApplicationInstallURL" value="http://localhost:1053/Web/"/>
	</appSettings>
	<connectionStrings>

		<clear/>
		<!--add name="rgen2ConnectionString" connectionString="Data Source=GARCIA2;Initial Catalog=rgen2;Integrated Security=True" providerName="System.Data.SqlClient"/-->
		<!--add name="rgen2ConnectionString" connectionString="Data Source=ROY-PC\SQL2005;Initial Catalog=rgen2;Persist Security Info=True;User ID=sa;Password=roca" providerName="System.Data.SqlClient" /-->
		<add name="rgen2ConnectionString" connectionString="Data Source=GARCIA;Initial Catalog=rgen2;Persist Security Info=True;User ID=sa;Password=div3o390" providerName="System.Data.SqlClient"/>

	</connectionStrings>
	<system.web>
		<globalization culture="es-PE" uiCulture="es-PE"/>
		<pages>
			<controls>
				<add namespace="MagicAjax.UI.Controls" assembly="MagicAjax" tagPrefix="ajax"/>
			</controls>
		</pages>
		<authorization>
			<allow users="?"/>
		</authorization>
		<authentication mode="Forms">
			<forms name=".SAMPLESITEAUTH" loginUrl="~/vLogin.aspx" protection="None" timeout="20" slidingExpiration="true" path="/" cookieless="UseCookies"></forms>
		</authentication>
		<sessionState cookieless="AutoDetect" timeout="400"/>
		<httpHandlers>
			<!--<add verb="POST,GET" path="ajaxpro/*.ashx" type="AjaxPro.AjaxHandlerFactory, AjaxPro.2"/>-->
		</httpHandlers>
		<httpModules>
			<add name="MagicAjaxModule" type="MagicAjax.MagicAjaxModule, MagicAjax"/>
		</httpModules>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="CrystalDecisions.CrystalReports.Engine, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.Enterprise.Framework, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.Shared, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.Enterprise.InfoStore, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.ReportSource, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="off" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<customErrors mode="Off"/>
	</system.web>
	<location path="ajaxpro">
		<system.web>
			<httpHandlers>
				<add verb="*" path="*.ashx" type="AjaxPro.AjaxHandlerFactory,AjaxPro.2"/>
			</httpHandlers>
			<!--
				If you need to have Ajax.NET Professional methods running on the
				login page you may have to enable your own authorization configuration
				here.
				So I need to add a more comprehensive line here 
			-->
			<!--
			<authorization>
				<deny users="?"/>
			</authorization>
			-->
		</system.web>
	</location>
	<system.net>
		<mailSettings>
			<smtp from="rromeroh@preventores.com.pe">
				<network host="localhost" password="" userName=""/>
			</smtp>
		</mailSettings>
	</system.net>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<clear/>
				<add name="X-UA-Compatible" value="IE=EmulateIE7"/>
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>
